html, body{
    height: 100%;
}

img{
    max-width: 100%;
}

/*cover*/
#cover{
    /*background: #222 url('../img/fondo1.jpg') center center no-repeat;*/
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}



.contenido-seccion{
    padding: 5rem 0;
}


#formularios {
   
    float: none;
    text-align: center;
}

body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url('../img/carrusel1.jpg');
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }